<div class="tools-loading modal fade" style="overflow: hidden">
    <div class="loading-body-a">
        <img class="loading-logo" src="">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
            <circle class="circle-inner-border" cx="100" cy="100" r="55"/>
            <circle class="circle-inner" cx="100" cy="100" r="55"/>
            <circle class="circle-inner-tiny" cx="100" cy="100" r="55"/>
            <circle class="circle-outer" cx="100" cy="100" r="80"/>
            <circle class="circle-outer-tiny" cx="100" cy="100" r="80"/>
        </svg>
    </div>
    <div class="loading-body-b">
        <div class="ow-hexagon ow-1"></div>
        <div class="ow-hexagon ow-2"></div>
        <div class="ow-hexagon ow-3"></div>
        <div class="ow-hexagon ow-4"></div>
        <div class="ow-hexagon ow-5"></div>
        <div class="ow-hexagon ow-6"></div>
        <div class="ow-hexagon ow-7"></div>
    </div>
</div>