<div class="tools-progress modal ">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="progress">
                <div class="progress-title">
                    <span class="progress-info"></span>
                    <span class="progress-state"></span>
                </div>
                <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" style="width: 10%">
                </div>
            </div>
        </div>
    </div>
</div>