.qtopo-windows .modal-body{
    font-size: 14px;
}
.qtopo-windows .image-select .modal-body {
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-wrap:wrap;
    padding: 20px;
    max-height:400px;
    overflow: auto;
}
.qtopo-windows .image-select .modal-content .img-btn{
    min-width: 50px;
    min-height: 50px;
    padding:5px;
    cursor:pointer;
}
.qtopo-windows .image-select .modal-content .img-btn:hover,.qtopo-windows .image-select .modal-content .img-btn.active{
    background: rgba(51, 122, 183, 1);
}
.qtopo-windows .image-select .modal-content .img-btn img{
    width: 100%;
    height: 100%;
}
/**tips**/
.qtopo-windows .tools-tips{
    color: white;
    background: rgba(51, 122, 183, 0.8);
    position: absolute;
    font-size:12px;
    max-width: 150px;
    padding: 5px;
}
.qtopo-windows .tools-tips .panel-body{
    display: inline-block;
    padding:0;
}
/*进度条*/
.qtopo-windows .tools-progress .modal-content,.qtopo-windows .tools-progress .progress{
    height:8px;
    border-radius: 15px;
}
.qtopo-windows .tools-progress .progress{
    overflow: hidden;
}
.qtopo-windows .tools-progress .progress-bar{
    height:100%;
    transition: width .8s ease;
}
.qtopo-windows .tools-progress .progress-title{
    position: absolute;
    width: 100%;
    height: 20px;
    top: -25px;
    padding:0 10px 0 10px;
    font-size: 20px;
    line-height: 30px;
}
.qtopo-windows .tools-progress .progress-state{
    float: right;
    color: white;
    font-size: 22px;
    font-weight: bold;
}
.qtopo-windows .tools-progress .progress-info{
}
/*颜色*/
.qtopo-windows .tools-progress .progress-bar-info{
}
/**/
.qtopo-windows .tools-progress .modal-dialog{
    width: 600px;
}
.qtopo-windows .tools-confirm .modal-dialog,.qtopo-windows .tools-view .modal-dialog,.qtopo-windows .tools-progress .modal-dialog{
    position: absolute;
    margin: 0;
}
/*loading*/
.qtopo-windows .tools-loading{
    height:300px;
    width:300px;
    position: absolute;
}
.qtopo-windows .loading-logo{
    width: 70px;
    position: absolute;
    top: 65px;
    left: 65px;
}
.qtopo-windows .tools-loading svg{
    position: absolute;
    height:100%;
    width: 100%;
    top:0;
    left:0;
}
.qtopo-windows .circle-inner{
    fill:transparent;
    stroke-dasharray: 50 75;
    stroke-dashoffset: 0;
    stroke-width: 8px;
    stroke: #19f6e8;
    -webkit-animation: 2s circle-inner linear infinite;
    animation: 2s circle-inner linear infinite;
}
.qtopo-windows .circle-outer{
    fill:transparent;
    stroke-dasharray: 75 92;
    stroke-dashoffset: 0;
    stroke-width: 8px;
    stroke: #FFB90F;
    -webkit-animation: 2s circle-outer linear infinite;
    animation: 2s circle-outer linear infinite;
}
@keyframes circle-inner {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: -500;
    }
}
@keyframes circle-outer {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 500;
    }
}
