.qtopo-windows .modal-body{
    font-size: 14px;
}
.qtopo-windows .image-select .modal-body {
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-wrap:wrap;
    padding: 20px;
    max-height:400px;
    overflow: auto;
}
.qtopo-windows .image-select .modal-content .img-btn{
    min-width: 50px;
    min-height: 50px;
    padding:5px;
    cursor:pointer;
}
.qtopo-windows .image-select .modal-content .img-btn:hover,.qtopo-windows .image-select .modal-content .img-btn.active{
    background: rgba(51, 122, 183, 1);
}
.qtopo-windows .image-select .modal-content .img-btn img{
    width: 100%;
    height: 100%;
}
/**tips**/
.qtopo-windows .tools-tips{
    color: white;
    background: rgba(51, 122, 183, 0.8);
    position: absolute;
    font-size:12px;
    max-width: 150px;
    padding: 5px;
}
.qtopo-windows .tools-tips .panel-body{
    display: inline-block;
    padding:0;
}
/*进度条*/
.qtopo-windows .tools-progress .modal-content,.qtopo-windows .tools-progress .progress{
    height:8px;
    border-radius: 15px;
}
.qtopo-windows .tools-progress .progress{
    overflow: hidden;
}
.qtopo-windows .tools-progress .progress-bar{
    height:100%;
    transition: width .8s ease;
}
.qtopo-windows .tools-progress .progress-title{
    position: absolute;
    width: 100%;
    height: 20px;
    top: -25px;
    padding:0 10px 0 10px;
    font-size: 20px;
    line-height: 30px;
}
.qtopo-windows .tools-progress .progress-state{
    float: right;
    color: white;
    font-size: 22px;
    font-weight: bold;
}
.qtopo-windows .tools-progress .progress-info{
}
/*颜色*/
.qtopo-windows .tools-progress .progress-bar-info{
}
/**/
.qtopo-windows .tools-progress .modal-dialog{
    width: 600px;
}
.qtopo-windows .tools-confirm .modal-dialog,.qtopo-windows .tools-view .modal-dialog,.qtopo-windows .tools-progress .modal-dialog{
    position: absolute;
    margin: 0;
}
/*loading-a*/
.qtopo-windows .loading-body-a{
    height:200px;
    width:200px;
    position: absolute;
}
.qtopo-windows .loading-logo{
    width: 70px;
    position: absolute;
    top: 65px;
    left: 65px;
}
.qtopo-windows .tools-loading svg{
    position: absolute;
    height:100%;
    width: 100%;
    top:0;
    left:0;
}
.qtopo-windows .circle-inner,.circle-inner-tiny{
    fill:transparent;
    stroke-width: 8px;
    stroke: #F9D64A;
}
.qtopo-windows .circle-inner{
    -webkit-animation: 2s circle-inner linear infinite;
    animation: 2s circle-inner linear infinite;
}
.qtopo-windows .circle-inner-tiny{
    stroke-dasharray: 15 330;
    -webkit-animation: 2s circle-inner-tiny linear infinite;
    animation: 2s circle-inner-tiny linear infinite;
}
.qtopo-windows .circle-inner-border{
    fill:transparent;
    stroke-width: 8px;
    stroke: rgba(189, 186, 62, 0.25);
    -webkit-animation:3s circle-inner-border linear infinite;
    animation: 3s circle-inner-border linear infinite;
}
.qtopo-windows .circle-outer,.circle-outer-tiny{
    fill:transparent;
    stroke-width: 8px;
    stroke: rgba(161, 164, 176, 0.5);
}
.qtopo-windows .circle-outer{
    stroke-dasharray: 80 170;
    -webkit-animation: 1.5s circle-outer ease-out infinite;
    animation: 1.5s circle-outer ease-out infinite;
}
.qtopo-windows .circle-outer-tiny{
    stroke-dasharray: 30 220;
    -webkit-animation: 1.5s circle-outer-tiny ease-in-out infinite;
    animation: 1.5s circle-outer-tiny ease-in-out infinite;
}
@keyframes circle-inner-border {
    0%{
        stroke-dasharray: 255 10;
        stroke-dashoffset: 0;
    }
    50%{
        stroke-dasharray: 50 400;
        stroke-dashoffset: -400;
    }
    100%{
        stroke-dasharray: 255 10;
        stroke-dashoffset: -800;
    }
}
@keyframes circle-inner-tiny {
    0% {
        stroke-dashoffset: 15;
    }
    100% {
        stroke-dashoffset: 355;
    }
}
@keyframes circle-inner {
    0% {
        stroke-dasharray: 100 300;
        stroke-dashoffset: 0;
    }
    50%{
        stroke-dasharray: 50 300;
        stroke-dashoffset: -150;
    }
    100% {
        stroke-dasharray: 100 300;
        stroke-dashoffset: -400;
    }
}
@keyframes circle-outer-tiny {
    0% {
        stroke-dashoffset: 100;
    }
    100% {
        stroke-dashoffset: 350;
    }
}
@keyframes circle-outer {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: -250;
    }
}
/*loading-b*/
.loading-body-b,.loading-body-b:before{
    width: 200px;
    height:200px;
}
.loading-body-b{
    position: absolute;
    border-radius: 50%;
    border:2px solid #337ab7;
}
.loading-body-b:before{
    content: '';
    display: block;
    border: 5px solid #00FFFF;
    position: absolute;
    border-radius: 50%;
    box-sizing: border-box;
    clip: rect(0px, 35px, 35px, 0px);
    z-index: 10;
    animation: rotate infinite;
    animation-duration: 3s;
    animation-timing-function: linear;
}
.ow-hexagon{
    height:27%;
    width: 27%;
    display: inline-block;
    position: absolute;
    background: linear-gradient(150deg, transparent 35%, #337ab7 0) top left,
    linear-gradient(-150deg, transparent 35%, #337ab7 0) top right,
    linear-gradient(-30deg, transparent 35%, #337ab7 0) bottom right,
    linear-gradient(30deg, transparent 35%, #337ab7 0) bottom left;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    animation: ow-hexagon 3s ease-in-out infinite;
}
.ow-1,.ow-2{
    top:15%;
}
.ow-3,.ow-4,.ow-5{
    top:37%;
}
.ow-6,.ow-7{
    bottom:14%;
}
.ow-1{
    right:51%;
    animation-delay: 0.2s;
}
.ow-2{
    left:51%;
    animation-delay: 0.4s;
}
.ow-3{
    left:8%;
    animation-delay: 0.6s;
}
.ow-4{
    left:36.5%;
    animation-delay: 0.8s;
}
.ow-5{
    right:8%;
    animation-delay: 1s;
}
.ow-6{
    right:51%;
    animation-delay: 1.2s;
}
.ow-7{
    left:51%;
    animation-delay: 1.4s;
}
@keyframes ow-hexagon {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    15%, 50% {
        transform: scale(0.5);
        opacity: 0;
    }
    65% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
