*{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    list-style: none;
    padding: 0;
    margin: 0;
}
body{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right:0;
    overflow: hidden;
    padding: 0;
    margin: 0;
}
.doc-head,.h-left,.h-right,.navigation{
    display: -webkit-flex; /* Safari */
    display: flex;
    justify-content:space-between;
    align-items:center;
    align-content: center;
}
.doc-head{
    background:#132549;
    color:white;
    height:50px;
    padding: 0 20px;
    align-items: stretch;
}
.doc-head img{
    height:40px;
    margin-right: 10px;
}
.h-title{
    font-size: 24px;
    line-height: 50px;
}
.navigation{
    height:100%;
    margin: 0;
    padding: 0;
}
.navigation li{
    padding:0 10px;
    cursor: pointer;
    height:100%;
    line-height: 50px;
}
.navigation li:hover{
    background: #28c9ff;
}
.doc-body{
    position: absolute;
    top: 50px;
    bottom: 0;
    width: 100%;
}
.doc-api{
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 10px;
    height: 100%;
    width: 280px;
}
.doc-content{
    position: absolute;
    right: 0;
    height: 100%;
    left: 290px;
    border-left: 1px solid #ddd;
}
.doc-desc{
    position: fixed;
    left: 310px;
    right: 25px;
    height: 130px;
    bottom: 15px;
    background-color: white;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.api-search{
    height:100px;
}
.api-list{
    position: absolute;
    top:0;
    width: 100%;
    height:100%;
    padding-top: 100px;
}
.dropdown-menu{
    padding-left:20px;
}
.dropdown-menu li{
    position: relative;
}
.dropdown-menu a{
    width: 100%;
    display: inline-block;
    cursor: pointer;
}
.dropdown-menu a:hover{
    background: rgba(0,255,255,0.5);
}
.sub-menu:before{
    content: "";
    border-width: 5px 5px 5px 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
    position: absolute;
    top: 8px;
    left: -10px;
}