<div class='panel panel-default t-children'>
    <div class='panel-body'>
        <div class='btn-group'>
            <button name='auto_layout' type='button' class='btn btn-xs btn-primary' data-toggle='button;tooltip'
                    title='自动布局'
                    data-placement='bottom'><span class='glyphicon glyphicon-th'></span></button>
            <button name='create_line' type='button' class='btn btn-xs btn-primary' data-toggle='button;tooltip'
                    title='画线对象'
                    data-placement='bottom'><span class='glyphicon glyphicon-pencil'></span></button>
            <button name='edit_save' type='button' class='btn btn-xs btn-primary' data-toggle='tooltip' title='保存'
                    data-placement='bottom'><span class='glyphicon glyphicon-floppy-saved'></span></button>
        </div>
    </div>
</div>