/*
工具栏
*/
.qtopo-toolBar .t-body{
    position: fixed;
    right:0;
    top:0;
}
.t-children{
    display: none;
    position: absolute;
}
.qtopo-toolBar .panel,.qtopo-toolBar .panel-body{
    margin: 0;
    padding:0;
    border:0;
    background: transparent;
    height:33px;
}
.qtopo-toolBar .btn,.qtopo-toolBar .t-search-mode,.qtopo-toolBar .t-search-input{
    height:100%;
}
.qtopo-toolBar .t-search-input,.qtopo-toolBar .t-search-mode{
    display: inline-block;
    float: left;
    border-radius:0;
}
.qtopo-toolBar .t-search-input{
    width: 200px;
}
.qtopo-toolBar .t-search-mode{
    width:80px;
}