/*
工具栏
*/
.qtopo-toolBar .t-body{
    position: absolute;
    right:0;
    top:0;
}
.qtopo-toolBar button.btn.btn-primary {
    outline: none;
}
.qtopo-toolBar .btn-primary:hover,.btn-primary.active, .btn-primary:active{
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
    /* box-sizing: border-box; */
    -moz-box-shadow: 0 0 10px #337ab7;
    box-shadow: 0 0 10px #337ab7;
}
.t-children{
    display: none;
    position: absolute;
}
.qtopo-toolBar .panel,.qtopo-toolBar .panel-body{
    margin: 0;
    padding:0;
    border:0;
    background: transparent;
    height:30px;
}
.qtopo-toolBar .btn.btn-sm,.qtopo-toolBar .t-search-mode,.qtopo-toolBar .t-search-input,.qtopo-toolBar .t-search-btn{
    height:30px;
}
.qtopo-toolBar .t-search-input,.qtopo-toolBar .t-search-mode{
    display: inline-block;
    float: left;
    border-radius:0;
}
.qtopo-toolBar .t-search-input{
    width: 200px;
    position: relative;
    background-color: white;
}
.qtopo-toolBar .t-search-input .clear-input{
    position: absolute;
    right: 2px;
    top:7px;
    cursor:pointer;
}
.qtopo-toolBar .t-search-input input{
    height:100%;
    width: 100%;
    border:none;
    border-radius: 0;
    padding-right: 15px;
}
.qtopo-toolBar .t-search-mode{
    width:80px;
}
.qtopo-toolBar .btn-primary{
    color: #fff;
    background-color: #012f5d;
    border:none;
}
.qtopo-toolBar select.form-control{
    padding:0;
    font-size:13px;
}
.qtopo-toolBar .result-win{
    display: inline-block;
    position: absolute;
    background-color: rgba(6,36,62,0.8);
    border:none;
    width: 200px;
    height: 50px;
    right: 40px;
    top: 50px;
}
.qtopo-toolBar .result-win .panel-body{
    width: 100%;
    height: 100%;
    padding:12px;
}
.result-select li{
    width: 100%;
    white-space:nowrap;
    word-break:keep-all;
    overflow:hidden;
    text-overflow:ellipsis;
    position: relative;
}
.result-select{
    height: 100%;
    width: 100%;
    padding: 0;
    padding-left: 15px;
    line-height: 25px;
    position: relative;
    cursor: pointer;
    color:white;
    border: 1px solid #337ab7;
    background-color: rgba(6,36,62,0.8);
}
.result-select:after{
    content: "";
    border: 5px solid transparent;
    border-top-color: white;
    position: absolute;
    top: 10px;
    right: 7px;
}
.result-show{
    background-color: rgba(6,36,62,0.8);
    padding: 0;
    display: none;
    height: auto;
    max-height: 400px;
    overflow: auto;
}
.result-show li{
    padding-left: 5px;
    color:white;
    list-style:none;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    cursor:pointer;
}
.result-show li:hover{
    background-color: #3d6cd6;
    box-shadow: 0 0 10px #3d6cd6;
}
label[name=topo_mode] span{
    margin-top: 3px;
}