#topo_base{
    width: 100%;
    height:800px;
    background:url("./img/bg1.jpg") no-repeat;
    -moz-background-size:cover;
    -ms-background-size:cover;
    -webkit-background-size:cover;
    background-size:cover;
}
#alarm_detail{
    position: absolute;
    bottom:0;
    background: #0a73a5;
    width: 300px;color:white;
    z-index: 99;
    margin: 0;
}