<div class="panel panel-primary image-node">
    <div class="panel-heading">
        <span class="panel-title">图片节点</span>
        <button type="button" class="close" aria-hidden="true">
            &times;
        </button>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group db-margin-b">
                <label class="w-label">名称</label>
                <div class=" w-width">
                    <textarea class="form-control" rows="2" name="name" placeholder="节点名"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="w-label">字体大小</label>
                <div class=" w-width">
                    <input name="fontSize" type="number" class="form-control" placeholder="名称字体大小" min="12">
                </div>
            </div>
            <div class="form-group">
                <label class="w-label">
                    名称位置
                </label>
                <div class=" w-width">
                    <select name="namePosition" class="form-control w-width">
                        <option value="top">上</option>
                        <option value="bottom">下</option>
                        <option value="left">左</option>
                        <option value="right">右</option>
                        <option value="center">中</option>
                        <option value="hide">隐藏</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="w-label">大小</label>
                <div class=" w-width">
                    <input name="size" type="number" class="form-control w-width" placeholder="节点宽高" min="64" >
                </div>
            </div>
            <div class='form-group image-select-group'>
                <label class='w-label'>图标<img src=''></label>
                <div class='w-width'>
                    <input name="image" class="form-control" value="" title="" readonly="true" required="true">
                    <button class="btn btn-default" type="button" data-toggle="dropdown"><span class='glyphicon glyphicon-search'></span></button>
                </div>
            </div>
            <div class='submit-group'>
                <button type="submit" class="btn btn-default">确认</button>
            </div>
        </form>
    </div>
</div>
