/*
    右键菜单栏显示
*/
.qtopo-rightMenu ul.dropdown-menu{
    background-color: rgba(6,36,62,0.8);
    min-width: 120px;
    border-radius: 0;
    -moz-box-shadow: 2px 2px 2px #000000;
    box-shadow: 2px 2px 2px #000000;
}
.qtopo-rightMenu .dropdown-menu li{
    font-size: 13px;
    position: relative;
    cursor: pointer;
    height: 20px;
}
.qtopo-rightMenu .dropdown-menu>li>a:focus,.qtopo-rightMenu .dropdown-menu>li>a:hover {
    text-decoration: none;
    background-color: #3d6cd6;
    box-shadow: 0 0 10px #3d6cd6;
}
.qtopo-rightMenu .dropdown-menu li a{
    color:white;
}
.qtopo-rightMenu .dropdown-menu li:hover>.dropdown-menu{
    display: block;
    left:95%;
    top:-7px;
}
/*
    子菜单栏箭头
*/
.qtopo-rightMenu .subMenu:after{
    content: "";
    border: 5px solid transparent;
    border-left-color: white;
    position: absolute;
    top: 5px;
    right: 10px;
}/*
工具栏
*/
.qtopo-toolBar .t-body{
    position: absolute;
    right:0;
    top:0;
}
.qtopo-toolBar button.btn.btn-primary {
    outline: none;
}
.qtopo-toolBar .btn-primary:hover,.btn-primary.active, .btn-primary:active{
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
    /* box-sizing: border-box; */
    -moz-box-shadow: 0 0 10px #337ab7;
    box-shadow: 0 0 10px #337ab7;
}
.t-children{
    display: none;
    position: absolute;
}
.qtopo-toolBar .panel,.qtopo-toolBar .panel-body{
    margin: 0;
    padding:0;
    border:0;
    background: transparent;
    height:30px;
}
.qtopo-toolBar .btn.btn-sm,.qtopo-toolBar .t-search-mode,.qtopo-toolBar .t-search-input,.qtopo-toolBar .t-search-btn{
    height:30px;
}
.qtopo-toolBar .t-search-input,.qtopo-toolBar .t-search-mode{
    display: inline-block;
    float: left;
    border-radius:0;
}
.qtopo-toolBar .t-search-input{
    width: 200px;
    position: relative;
    background-color: white;
}
.qtopo-toolBar .t-search-input .clear-input{
    position: absolute;
    right: 2px;
    top:7px;
    cursor:pointer;
}
.qtopo-toolBar .t-search-input input{
    height:100%;
    width: 100%;
    border:none;
    border-radius: 0;
    padding-right: 15px;
}
.qtopo-toolBar .t-search-mode{
    width:80px;
}
.qtopo-toolBar .btn-primary{
    color: #fff;
    background-color: #012f5d;
    border:none;
}
.qtopo-toolBar select.form-control{
    padding:0;
    font-size:13px;
}
.qtopo-toolBar .result-win{
    display: inline-block;
    position: absolute;
    background-color: rgba(6,36,62,0.8);
    border:none;
    width: 200px;
    height: 50px;
    right: 40px;
    top: 50px;
}
.qtopo-toolBar .result-win .panel-body{
    width: 100%;
    height: 100%;
    padding:12px;
}
.result-select li{
    width: 100%;
    white-space:nowrap;
    word-break:keep-all;
    overflow:hidden;
    text-overflow:ellipsis;
    position: relative;
}
.result-select{
    height: 100%;
    width: 100%;
    padding: 0;
    padding-left: 15px;
    line-height: 25px;
    position: relative;
    cursor: pointer;
    color:white;
    border: 1px solid #337ab7;
    background-color: rgba(6,36,62,0.8);
}
.result-select:after{
    content: "";
    border: 5px solid transparent;
    border-top-color: white;
    position: absolute;
    top: 10px;
    right: 7px;
}
.result-show{
    background-color: rgba(6,36,62,0.8);
    padding: 0;
    display: none;
    height: auto;
    max-height: 400px;
    overflow: auto;
}
.result-show li{
    padding-left: 5px;
    color:white;
    list-style:none;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    cursor:pointer;
}
.result-show li:hover{
    background-color: #3d6cd6;
    box-shadow: 0 0 10px #3d6cd6;
}
label[name=topo_mode] span{
    margin-top: 3px;
}.qtopo-windows .modal-body{
    font-size: 14px;
}
.qtopo-windows .image-select .modal-body {
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-wrap:wrap;
    padding: 20px;
    max-height:400px;
    overflow: auto;
}
.qtopo-windows .image-select .modal-content .img-btn{
    min-width: 50px;
    min-height: 50px;
    padding:5px;
    cursor:pointer;
}
.qtopo-windows .image-select .modal-content .img-btn:hover,.qtopo-windows .image-select .modal-content .img-btn.active{
    background: rgba(51, 122, 183, 1);
}
.qtopo-windows .image-select .modal-content .img-btn img{
    width: 100%;
    height: 100%;
}
/**tips**/
.qtopo-windows .tools-tips{
    color: white;
    background: rgba(51, 122, 183, 0.8);
    position: absolute;
    font-size:12px;
    max-width: 150px;
    padding: 5px;
}
.qtopo-windows .tools-tips .panel-body{
    display: inline-block;
    padding:0;
}
/*进度条*/
.qtopo-windows .tools-progress .modal-content,.qtopo-windows .tools-progress .progress{
    height:8px;
    border-radius: 15px;
}
.qtopo-windows .tools-progress .progress{
    overflow: hidden;
}
.qtopo-windows .tools-progress .progress-bar{
    height:100%;
    transition: width .8s ease;
}
.qtopo-windows .tools-progress .progress-title{
    position: absolute;
    width: 100%;
    height: 20px;
    top: -25px;
    padding:0 10px 0 10px;
    font-size: 20px;
    line-height: 30px;
}
.qtopo-windows .tools-progress .progress-state{
    float: right;
    color: white;
    font-size: 22px;
    font-weight: bold;
}
.qtopo-windows .tools-progress .progress-info{
}
/*颜色*/
.qtopo-windows .tools-progress .progress-bar-info{
}
/**/
.qtopo-windows .tools-progress .modal-dialog{
    width: 600px;
}
.qtopo-windows .tools-confirm .modal-dialog,.qtopo-windows .tools-view .modal-dialog,.qtopo-windows .tools-progress .modal-dialog{
    position: absolute;
    margin: 0;
}
/*loading*/
.qtopo-windows .tools-loading{
    height:300px;
    width:300px;
    position: absolute;
}
.qtopo-windows .loading-logo{
    width: 70px;
    position: absolute;
    top: 65px;
    left: 65px;
}
.qtopo-windows .tools-loading svg{
    position: absolute;
    height:100%;
    width: 100%;
    top:0;
    left:0;
}
.qtopo-windows .circle-inner{
    fill:transparent;
    stroke-dasharray: 50 75;
    stroke-dashoffset: 0;
    stroke-width: 8px;
    stroke: #19f6e8;
    -webkit-animation: 2s circle-inner linear infinite;
    animation: 2s circle-inner linear infinite;
}
.qtopo-windows .circle-outer{
    fill:transparent;
    stroke-dasharray: 75 92;
    stroke-dashoffset: 0;
    stroke-width: 8px;
    stroke: #FFB90F;
    -webkit-animation: 2s circle-outer linear infinite;
    animation: 2s circle-outer linear infinite;
}
@keyframes circle-inner {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: -500;
    }
}
@keyframes circle-outer {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: 500;
    }
}
.qtopo-windows{
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
.qtopo-windows .db-margin-b{
    margin-bottom: 25px;
}
.qtopo-windows .btn{
    background-color: #3d6cd6;
    color: white;
    font-weight: 300;
    border:none;
    border-radius: 0;
}
.qtopo-windows .btn:hover{
    background-color: rgba(10,44,70,1);
}
.qtopo-windows .modal-header{
    border-bottom: 1px solid #337ab7;
}
.qtopo-windows .modal-footer{
    border-top: 1px solid #337ab7;
}
.qtopo-windows .close{
    opacity:1;
    color:white;
    text-shadow:none;
}
.qtopo-windows .panel-title{
    font-weight:700;
}
.qtopo-windows .form-control,.qtopo-windows .panel,.qtopo-windows .dropdown-menu{
    border-radius: 0;
}
.qtopo-windows .panel,.qtopo-windows .dropdown-menu{
    -moz-box-shadow: 0 0 10px #337ab7;
    box-shadow: 0 0 10px #337ab7;
}
.qtopo-windows .modal{
    position: absolute;
}
.qtopo-windows input{
    word-break:keep-all;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}
.qtopo-windows textarea{
    resize: none;
}
.qtopo-windows .form-group{
    position: relative;
    height: 40px;
    line-height: 35px;
}
.qtopo-windows-elements .panel {
    position: absolute;
    width: 300px;
}
.qtopo-windows .w-label{
    display: inline-block;
    width: 100px;
    position: absolute;
    left:0;
    top:0;
    text-align: center;
}
.qtopo-windows .w-width{
    display: inline-block;
    width: 150px;
    position: absolute;
    right:0;
    top:0;
}
.qtopo-windows .panel-primary>.panel-heading {
    background-color: rgba(6,36,62,0.8);
    border:none;
}
.qtopo-windows .panel-primary,.qtopo-windows .modal-content,.qtopo-windows .dropdown-menu{
    color: white;
    background-color: rgba(6,36,62,0.8);
}
/*图片选择*/
.qtopo-windows .image-select-group input{
    width: 110px;
    display: inline-block;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.qtopo-windows .image-select-group img{
    width: 35px;
    margin-left: 10px;
}
.qtopo-windows .image-select-group button{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}
/*颜色选择*/
.qtopo-windows .select-color{
    position:absolute;
    top:-150px
}
.qtopo-windows .color-selected{
    width: 110px;
}
.qtopo-windows .bootstrap-colorpalette {
    padding-left:4px;
    padding-right:4px;
    white-space: normal;
    line-height:1;
}

.qtopo-windows .bootstrap-colorpalette div {
    line-height:0;
    background-color: rgba(6,36,62,0.8);
    display: inline-block;
}

.qtopo-windows .bootstrap-colorpalette .btn-color {
    width: 17px;
    height: 17px;
    border: 1px solid #fff;
    margin: 0;
    padding: 0;
}
.qtopo-windows .bootstrap-colorpalette .btn-color:hover {
    border: 1px solid #000;
}
/**/
.qtopo-windows .submit-group{
    float: right;
}
.qtopo-windows .submit-group button{
    width: 75px;
}
.qtopo-windows .select-color-btn{
    height:34px;
}
.qtopo-windows .link-chk{
    display: inline-block;
    width: 33%;
    float: left;
}
.qtopo-windows .link-chk div{
    font-size: 13px;
    position: absolute;
    top: 15px;
}/*复选框样式*/
.my_chk{
    display: none;
}
.my_chk + label {
    background-color: #fafbfa;
    padding: 9px;
    border-radius: 50px;
    display: inline-block;
    position: relative;
    margin-right: 30px;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    width: 40px;
    height: 15px;
}

.my_chk  + label:after {
    content: ' ';
    position: absolute;
    top: 0;
    -webkit-transition: box-shadow 0.1s ease-in;
    transition: box-shadow 0.1s ease-in;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    box-shadow: inset 0 0 0 0 #eee, 0 0 1px rgba(0,0,0,0.4);
}

.my_chk  + label:before {
    content: ' ';
    position: absolute;
    background: #3d6cd6;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 50%;
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    height: 100%;
    border-radius: 100px;
    box-shadow: 0 3px 1px rgba(0,0,0,0.05), 0 0 1px rgba(0,0,0,0.3);
}

.my_chk:active + label:after {
    box-shadow: inset 0 0 0 20px #eee, 0 0 1px #eee;
}

.my_chk:active + label:before {
    width: 37px;
}

.my_chk:checked:active + label:before {
    width: 37px;
    left: 20px;
}

.my_chk  + label:active {
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0 1px 3px rgba(0,0,0,0.1);
}

.my_chk:checked + label:before {
    content: ' ';
    position: absolute;
    left: 26px;
    border-radius: 100px;
}

.my_chk:checked + label:after {
    content: ' ';
    font-size: 1.5em;
    position: absolute;
    background: #00ffff;
    box-shadow: 0 0 1px #00ffff;
}
/**/
/*滑块样式*/
input[type=range] {
    -webkit-appearance: none;
    background-color: rgba(6,36,62,0.8);
    border:none;
    border-radius: 10px; /*这个属性设置使填充进度条时的图形为圆角*/
}
input[type=range]:focus {
    outline: none;
}
/*滑道*/
input[type=range]::-webkit-slider-runnable-track{
    height: 15px;
    background-color: white;
    width: 100%;
    border-radius: 10px; /*将轨道设为圆角的*/
    box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112; /*轨道内置阴影效果*/
}
input[type=range]::-moz-range-track {
     height: 15px;
     background-color: white;
     width: 100%;
     border-radius: 10px; /*将轨道设为圆角的*/
     box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112; /*轨道内置阴影效果*/
 }
/*滑块*/
input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 25px;
    cursor: pointer;
    width: 25px;
    margin-top: -5px; /*使滑块超出轨道部分的偏移量相等*/
    background: #3d6cd6;
    border-radius: 50%; /*外观设置为圆形*/
    border: solid 0.125em rgba(205, 224, 230, 0.5); /*设置边框*/
    box-shadow: 0 .125em .125em #3b4547; /*添加底部阴影*/
}
input[type=range]::-moz-range-thumb {
     -webkit-appearance: none;
     height: 20px;
     cursor: pointer;
     width: 20px;
     margin-top: 0; /*使滑块超出轨道部分的偏移量相等*/
     background: #3d6cd6;
     border-radius: 50%; /*外观设置为圆形*/
     border: solid 0.125em rgba(205, 224, 230, 0.5); /*设置边框*/
     box-shadow: 0 .125em .125em #3b4547; /*添加底部阴影*/
 }
/*firfox自动填充*/
input[type=range]::-moz-range-progress {
    background: linear-gradient(to right, #059CFA, white 100%, white);
    height: 10px;
    border-radius: 10px;
}
/*兼容Ie9+*/
input[type=range]::-ms-track {
    height: 20px;
    border-radius: 10px;
    box-shadow: 0 1px 1px #def3f8, inset 0 .125em .125em #0d1112;
    border-color: transparent; /*去除原有边框*/
    color: transparent; /*去除轨道内的竖线*/
}

input[type=range]::-ms-thumb {
    border: solid 0.125em rgba(205, 224, 230, 0.5);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #3d6cd6;
    margin-top: -2px;
    box-shadow: 0 .125em .125em #3b4547;
    cursor: pointer;
}

input[type=range]::-ms-fill-lower {
    /*进度条已填充的部分*/
    height: 22px;
    border-radius: 10px;
    background: linear-gradient(to right, #059CFA, white 100%, white);
}

input[type=range]::-ms-fill-upper {
    /*进度条未填充的部分*/
    height: 22px;
    border-radius: 10px;
    background: #ffffff;
}
/**/
