/*
    右键菜单栏显示
*/
.qtopo-rightMenu ul.dropdown-menu{
    background: rgba(51, 122, 183, 0.9);
    min-width: 120px;
}
.qtopo-rightMenu .dropdown-menu li{
    font-size: 12px;
    position: relative;
    cursor: pointer;
    height: 20px;
}
.qtopo-rightMenu .dropdown-menu li a{
    color:white;
}
.qtopo-rightMenu .dropdown-menu li:hover>a{
    background: none;
    color:black;
}
.qtopo-rightMenu .dropdown-menu li:hover>.dropdown-menu{
    display: block;
    left:95%;
    top:-7px;
}
/*
    子菜单栏箭头
*/
.qtopo-rightMenu .subMenu:after{
    content: "";
    border: 5px solid transparent;
    border-left-color: white;
    position: absolute;
    top: 5px;
    right: 10px;
}
.qtopo-rightMenu .subMenu:hover:after{
    border-left-color: black;
}/*
工具栏
*/
.qtopo-toolBar .t-body{
    position: absolute;
    right:0;
    top:0;
}
.t-children{
    display: none;
    position: absolute;
}
.qtopo-toolBar .panel,.qtopo-toolBar .panel-body{
    margin: 0;
    padding:0;
    border:0;
    background: transparent;
    height:30px;
}
.qtopo-toolBar .btn.btn-sm,.qtopo-toolBar .t-search-mode,.qtopo-toolBar .t-search-input,.qtopo-toolBar .t-search-btn{
    height:30px;
}
.qtopo-toolBar .t-search-input,.qtopo-toolBar .t-search-mode{
    display: inline-block;
    float: left;
    border-radius:0;
}
.qtopo-toolBar .t-search-input{
    width: 200px;
}
.qtopo-toolBar .t-search-mode{
    width:80px;
}.qtopo-windows .image-select .modal-body {
    padding: 22px;
    max-height:400px;
}
.qtopo-windows .image-select .modal-content .img-btn{
    display: inline-block;
    width: 50px;
    height: 50px;
    padding:5px;
    cursor:pointer;
}
.qtopo-windows .image-select .modal-content .img-btn:hover,.qtopo-windows .image-select .modal-content .img-btn.active{
    background: rgba(51, 122, 183, 1);
}
.qtopo-windows .image-select .modal-content .img-btn img{
    width: 100%;
    height: 100%;
}
/**tips**/
.qtopo-windows .tools-tips{
    color: white;
    background: rgba(51, 122, 183, 0.5);
    position: absolute;
    font-size:12px;
    max-width: 150px;
    padding: 5px;
}
.qtopo-windows .tools-tips .panel-body{
    display: inline-block;
    padding:0;
}
.qtopo-windows .tools-progress .modal-content,.qtopo-windows .tools-progress .progress{
    height:30px;
    border-radius: 15px;
}
.qtopo-windows .tools-progress .progress-bar{
    font-size: 20px;
    line-height: 30px;
    height:100%;
}
.qtopo-windows .tools-progress .modal-dialog{
    width: 600px;
}
.qtopo-windows .tools-confirm .modal-dialog,.qtopo-windows .tools-progress .modal-dialog{
    position: absolute;
    margin: 0;
}.qtopo-windows{
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
.qtopo-windows .modal{
    position: absolute;
}
.qtopo-windows input{
    word-break:keep-all;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}
.qtopo-windows textarea{
    resize: none;
}
.qtopo-windows .form-group{
    position: relative;
    height: 40px;
    line-height: 35px;
}
.qtopo-windows-elements .panel {
    position: absolute;
    width: 300px;
}
.qtopo-windows .w-label{
    display: inline-block;
    width: 100px;
    position: absolute;
    left:0;
    top:0;
    text-align: center;
}
.qtopo-windows .w-width{
    display: inline-block;
    width: 150px;
    position: absolute;
    right:0;
    top:0;
}
.qtopo-windows .panel-primary,.qtopo-windows .modal-content{
    color: white;
    background: rgba(51, 122, 183, 0.8);
}
/*图片选择*/
.qtopo-windows .image-select-group input{
    width: 110px;
    display: inline-block;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.qtopo-windows .image-select-group img{
    width: 35px;
    margin-left: 10px;
}
.qtopo-windows .image-select-group button{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    position: absolute;
    right: 0;
    top: 0;
}
/*颜色选择*/
.qtopo-windows .select-color{
    position:absolute;
    top:-150px
}
.qtopo-windows .color-selected{
    width: 110px;
}
.qtopo-windows .input-group-btn>.select-color-btn {
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
}
.qtopo-windows .bootstrap-colorpalette {
    padding-left:4px;
    padding-right:4px;
    white-space: normal;
    line-height:1;
}

.qtopo-windows .bootstrap-colorpalette div {
    line-height:0;
}

.qtopo-windows .bootstrap-colorpalette .btn-color {
    width: 17px;
    height: 17px;
    border: 1px solid #fff;
    margin: 0;
    padding: 0;
}

.qtopo-windows .bootstrap-colorpalette .btn-color:hover {
    border: 1px solid #000;
}
/**/
.qtopo-windows .submit-group{
    display: table;
    margin: auto;
}
.qtopo-windows .checkbox-wrap{
    margin-right: 6px;
    display: inline-block;
}
.qtopo-windows .checkbox-wrap input{
    margin: 0;
}
.qtopo-windows .checkbox-wrap div{
    margin-top: -20px;
}