/*
    右键菜单栏显示
*/
.qtopo-rightMenu ul.dropdown-menu{
    background-color: rgba(6,36,62,0.8);
    min-width: 120px;
    border-radius: 0;
    -moz-box-shadow: 2px 2px 2px #000000;
    box-shadow: 2px 2px 2px #000000;
}
.qtopo-rightMenu .dropdown-menu li{
    font-size: 13px;
    position: relative;
    cursor: pointer;
    height: 20px;
}
.qtopo-rightMenu .dropdown-menu>li>a:focus,.qtopo-rightMenu .dropdown-menu>li>a:hover {
    text-decoration: none;
    background-color: #3d6cd6;
    box-shadow: 0 0 10px #3d6cd6;
}
.qtopo-rightMenu .dropdown-menu li a{
    color:white;
}
.qtopo-rightMenu .dropdown-menu li:hover>.dropdown-menu{
    display: block;
    left:95%;
    top:-7px;
}
/*
    子菜单栏箭头
*/
.qtopo-rightMenu .subMenu:after{
    content: "";
    border: 5px solid transparent;
    border-left-color: white;
    position: absolute;
    top: 5px;
    right: 10px;
}/*
工具栏
*/
.qtopo-toolBar .t-body{
    position: absolute;
    right:0;
    top:0;
}
.qtopo-toolBar button.btn.btn-primary {
    outline: none;
}
.qtopo-toolBar .btn-primary:hover,.btn-primary.active, .btn-primary:active{
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
    /* box-sizing: border-box; */
    -moz-box-shadow: 0 0 10px #337ab7;
    box-shadow: 0 0 10px #337ab7;
}
.t-children{
    display: none;
    position: absolute;
}
.qtopo-toolBar .panel,.qtopo-toolBar .panel-body{
    margin: 0;
    padding:0;
    border:0;
    background: transparent;
    height:30px;
}
.qtopo-toolBar .btn.btn-sm,.qtopo-toolBar .t-search-mode,.qtopo-toolBar .t-search-input,.qtopo-toolBar .t-search-btn{
    height:30px;
}
.qtopo-toolBar .t-search-input,.qtopo-toolBar .t-search-mode{
    display: inline-block;
    float: left;
    border-radius:0;
}
.qtopo-toolBar .t-search-input{
    width: 200px;
    position: relative;
    background-color: white;
}
.qtopo-toolBar .t-search-input .clear-input{
    position: absolute;
    right: 2px;
    top:7px;
    cursor:pointer;
}
.qtopo-toolBar .t-search-input input{
    height:100%;
    width: 100%;
    border:none;
    border-radius: 0;
}
.qtopo-toolBar .t-search-mode{
    width:80px;
}
.qtopo-toolBar .btn-primary{
    color: #fff;
    background-color: #012f5d;
    border:none;
}.qtopo-windows .image-select .modal-body {
    padding: 22px;
    max-height:400px;
}
.qtopo-windows .image-select .modal-content .img-btn{
    display: inline-block;
    width: 50px;
    height: 50px;
    padding:5px;
    cursor:pointer;
}
.qtopo-windows .image-select .modal-content .img-btn:hover,.qtopo-windows .image-select .modal-content .img-btn.active{
    background: rgba(51, 122, 183, 1);
}
.qtopo-windows .image-select .modal-content .img-btn img{
    width: 100%;
    height: 100%;
}
/**tips**/
.qtopo-windows .tools-tips{
    color: white;
    background: rgba(51, 122, 183, 0.8);
    position: absolute;
    font-size:12px;
    max-width: 150px;
    padding: 5px;
}
.qtopo-windows .tools-tips .panel-body{
    display: inline-block;
    padding:0;
}
.qtopo-windows .tools-progress .modal-content,.qtopo-windows .tools-progress .progress{
    height:30px;
    border-radius: 15px;
}
.qtopo-windows .tools-progress .progress-bar{
    font-size: 20px;
    line-height: 30px;
    height:100%;
}
.qtopo-windows .tools-progress .progress{
}
.qtopo-windows .tools-progress .progress-bar-info{
}
.qtopo-windows .tools-progress .modal-dialog{
    width: 600px;
}
.qtopo-windows .tools-confirm .modal-dialog,.qtopo-windows .tools-view .modal-dialog,.qtopo-windows .tools-progress .modal-dialog{
    position: absolute;
    margin: 0;
}.qtopo-windows{
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
.qtopo-windows .btn{
    background-color: #3d6cd6;
    color: white;
    font-weight: 300;
    border:none;
    border-radius: 0;
}
.qtopo-windows .btn:hover{
    background-color: rgba(10,44,70,1);
}
.qtopo-windows .modal-header{
    border-bottom: 1px solid #337ab7;
}
.qtopo-windows .modal-footer{
    border-top: 1px solid #337ab7;
}
.qtopo-windows .close{
    opacity:1;
    color:white;
    text-shadow:none;
}
.qtopo-windows .panel-title{
    font-weight:700;
}
.qtopo-windows .form-control,.qtopo-windows .panel,.qtopo-windows .dropdown-menu{
    border-radius: 0;
}
.qtopo-windows .panel,.qtopo-windows .dropdown-menu{
    -moz-box-shadow: 0 0 10px #337ab7;
    box-shadow: 0 0 10px #337ab7;
}
.qtopo-windows .modal{
    position: absolute;
}
.qtopo-windows input{
    word-break:keep-all;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}
.qtopo-windows textarea{
    resize: none;
}
.qtopo-windows .form-group{
    position: relative;
    height: 40px;
    line-height: 35px;
}
.qtopo-windows-elements .panel {
    position: absolute;
    width: 300px;
}
.qtopo-windows .w-label{
    display: inline-block;
    width: 100px;
    position: absolute;
    left:0;
    top:0;
    text-align: center;
}
.qtopo-windows .w-width{
    display: inline-block;
    width: 150px;
    position: absolute;
    right:0;
    top:0;
}
.qtopo-windows .panel-primary>.panel-heading {
    background-color: rgba(6,36,62,0.8);
    border:none;
}
.qtopo-windows .panel-primary,.qtopo-windows .modal-content{
    color: white;
    background-color: rgba(6,36,62,0.8);
}
/*图片选择*/
.qtopo-windows .image-select-group input{
    width: 110px;
    display: inline-block;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.qtopo-windows .image-select-group img{
    width: 35px;
    margin-left: 10px;
}
.qtopo-windows .image-select-group button{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    position: absolute;
    right: 0;
    top: 0;
}
/*颜色选择*/
.qtopo-windows .select-color{
    position:absolute;
    top:-150px
}
.qtopo-windows .color-selected{
    width: 110px;
}
.qtopo-windows .bootstrap-colorpalette {
    padding-left:4px;
    padding-right:4px;
    white-space: normal;
    line-height:1;
}

.qtopo-windows .bootstrap-colorpalette div {
    line-height:0;
}

.qtopo-windows .bootstrap-colorpalette .btn-color {
    width: 17px;
    height: 17px;
    border: 1px solid #fff;
    margin: 0;
    padding: 0;
}

.qtopo-windows .bootstrap-colorpalette .btn-color:hover {
    border: 1px solid #000;
}
/**/
.qtopo-windows .submit-group{
    display: table;
    margin: auto;
}
.qtopo-windows .checkbox-wrap{
    margin-right: 6px;
    display: inline-block;
}
.qtopo-windows .checkbox-wrap input{
    margin: 0;
}
.qtopo-windows .checkbox-wrap div{
    margin-top: -20px;
}