.qtopo-windows{
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
.qtopo-windows .btn{
    background-color: #3d6cd6;
    color: white;
    font-weight: 300;
    border:none;
    border-radius: 0;
}
.qtopo-windows .btn:hover{
    background-color: rgba(10,44,70,1);
}
.qtopo-windows .modal-header{
    border-bottom: 1px solid #337ab7;
}
.qtopo-windows .modal-footer{
    border-top: 1px solid #337ab7;
}
.qtopo-windows .close{
    opacity:1;
    color:white;
    text-shadow:none;
}
.qtopo-windows .panel-title{
    font-weight:700;
}
.qtopo-windows .form-control,.qtopo-windows .panel,.qtopo-windows .dropdown-menu{
    border-radius: 0;
}
.qtopo-windows .panel,.qtopo-windows .dropdown-menu{
    -moz-box-shadow: 0 0 10px #337ab7;
    box-shadow: 0 0 10px #337ab7;
}
.qtopo-windows .modal{
    position: absolute;
}
.qtopo-windows input{
    word-break:keep-all;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}
.qtopo-windows textarea{
    resize: none;
}
.qtopo-windows .form-group{
    position: relative;
    height: 40px;
    line-height: 35px;
}
.qtopo-windows-elements .panel {
    position: absolute;
    width: 300px;
}
.qtopo-windows .w-label{
    display: inline-block;
    width: 100px;
    position: absolute;
    left:0;
    top:0;
    text-align: center;
}
.qtopo-windows .w-width{
    display: inline-block;
    width: 150px;
    position: absolute;
    right:0;
    top:0;
}
.qtopo-windows .panel-primary>.panel-heading {
    background-color: rgba(6,36,62,0.8);
    border:none;
}
.qtopo-windows .panel-primary,.qtopo-windows .modal-content{
    color: white;
    background-color: rgba(6,36,62,0.8);
}
/*图片选择*/
.qtopo-windows .image-select-group input{
    width: 110px;
    display: inline-block;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.qtopo-windows .image-select-group img{
    width: 35px;
    margin-left: 10px;
}
.qtopo-windows .image-select-group button{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    position: absolute;
    right: 0;
    top: 0;
}
/*颜色选择*/
.qtopo-windows .select-color{
    position:absolute;
    top:-150px
}
.qtopo-windows .color-selected{
    width: 110px;
}
.qtopo-windows .bootstrap-colorpalette {
    padding-left:4px;
    padding-right:4px;
    white-space: normal;
    line-height:1;
}

.qtopo-windows .bootstrap-colorpalette div {
    line-height:0;
}

.qtopo-windows .bootstrap-colorpalette .btn-color {
    width: 17px;
    height: 17px;
    border: 1px solid #fff;
    margin: 0;
    padding: 0;
}

.qtopo-windows .bootstrap-colorpalette .btn-color:hover {
    border: 1px solid #000;
}
/**/
.qtopo-windows .submit-group{
    display: table;
    margin: auto;
}
.qtopo-windows .checkbox-wrap{
    margin-right: 6px;
    display: inline-block;
}
.qtopo-windows .checkbox-wrap input{
    margin: 0;
}
.qtopo-windows .checkbox-wrap div{
    margin-top: -20px;
}