/*滚动条*/
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    /* 滚动槽 */
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0,0.5);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    /* 滑块 */
    border-radius: 10px;
    background: rgba(51, 122,183,1);
}
::-webkit-scrollbar-thumb:window-inactive {
    /* 未选中*/
}
/*IE中滚动条*/
body {
    SCROLLBAR-FACE-COLOR: rgba(51, 122, 183, 1);        /*滚动条凸出部分的颜色*/
    SCROLLBAR-HIGHLIGHT-COLOR: rgba(51, 122, 183, 0);    /*滚动条空白部分的颜色*/
    SCROLLBAR-SHADOW-COLOR:rgba(0, 100, 150, 0.5);     /*立体滚动条阴影的颜色*/
    SCROLLBAR-3DLIGHT-COLOR:rgba(51, 122, 183, 0);     /*滚动条亮边的颜色*/
    SCROLLBAR-ARROW-COLOR: rgba(0, 100, 150, 0.5);     /*上下按钮上三角箭头的颜色*/
    SCROLLBAR-TRACK-COLOR: rgba(0, 100, 150, 0.5);     /*滚动条的背景颜色*/
    SCROLLBAR-DARKSHADOW-COLOR: rgba(51, 122, 183, 0);     /*滚动条强阴影的颜色*/
    SCROLLBAR-BASE-COLOR: rgba(51, 122, 183, 0);     /*滚动条的基本颜色*/
}
.qtopo-windows{
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
.qtopo-windows .panel{
    z-index:1000;
}
.qtopo-windows .db-margin-b{
    margin-bottom: 25px;
}
.qtopo-windows .btn{
    background-color: #3d6cd6;
    color: white;
    font-weight: 300;
    border:none;
    border-radius: 0;
}
.qtopo-windows .btn:hover{
    background-color: rgba(10,44,70,1);
}
.qtopo-windows .modal-header{
    border-bottom: 1px solid #337ab7;
}
.qtopo-windows .modal-footer{
    border-top: 1px solid #337ab7;
}
.qtopo-windows .close{
    opacity:1;
    color:white;
    text-shadow:none;
}
.qtopo-windows .panel-title{
    font-weight:700;
}
.qtopo-windows .form-control,.qtopo-windows .panel,.qtopo-windows .dropdown-menu{
    border-radius: 0;
}
.qtopo-windows .panel,.qtopo-windows .dropdown-menu{
    -moz-box-shadow: 0 0 10px #337ab7;
    box-shadow: 0 0 10px #337ab7;
}
.qtopo-windows .modal{
    position: absolute;
}
.qtopo-windows input{
    word-break:keep-all;
    white-space:nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}
.qtopo-windows textarea{
    resize: none;
}
.qtopo-windows .form-group{
    position: relative;
    height: 40px;
}
.qtopo-windows-elements .panel {
    position: absolute;
    width: 300px;
}
.qtopo-windows .w-label{
    display: inline-flex;
    display: -webkit-inline-flex;
    width: 40%;
    position: absolute;
    left:0;
    top:0;
    text-align: center;
    height:100%;
    justify-content: center;
    align-items: center;
}
.qtopo-windows .w-width{
    display: inline-block;
    width: 60%;
    position: absolute;
    right:0;
    top:0;
}
.qtopo-windows .panel-primary>.panel-heading {
    background-color: rgba(6,36,62,0.8);
    border:none;
}
.qtopo-windows .panel-primary,.qtopo-windows .modal-content,.qtopo-windows .dropdown-menu{
    color: white;
    background-color: rgba(6,36,62,0.8);
}
/*图片选择*/
.qtopo-windows .image-select-group input{
    width: 110px;
    display: inline-block;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.qtopo-windows .image-select-group img{
    width: 35px;
    margin-left: 10px;
}
.qtopo-windows .image-select-group button{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}
/*颜色选择*/
.qtopo-windows .select-color{
    position:absolute;
    top:-150px
}
.qtopo-windows .color-selected{
    width: 110px;
}
.qtopo-windows .bootstrap-colorpalette {
    padding-left:4px;
    padding-right:4px;
    white-space: normal;
    line-height:1;
}

.qtopo-windows .bootstrap-colorpalette div {
    line-height:0;
    background-color: rgba(6,36,62,0.8);
    display: inline-block;
}

.qtopo-windows .bootstrap-colorpalette .btn-color {
    width: 17px;
    height: 17px;
    border: 1px solid #fff;
    margin: 0;
    padding: 0;
}
.qtopo-windows .bootstrap-colorpalette .btn-color:hover {
    border: 1px solid #000;
}
/**/
.qtopo-windows .submit-group{
    float: right;
}
.qtopo-windows .select-color-btn{
    height:34px;
}
.qtopo-windows .link-chk{
    display: -webkit-flex;
    display: flex;
    flex-flow:row wrap;
    align-items:center;
    width: 50%;
    float: left;
}
.qtopo-windows .link-chk div{
    float: left;
    margin-right: 5px;
}