<div class="panel panel-primary text-node">
    <div class="panel-heading">
        <span class="panel-title">文本节点</span>
        <button type="button" class="close" aria-hidden="true">
            &times;
        </button>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group db-margin-b">
                <label class="w-label">文本内容</label>
                <div class=" w-width">
                    <textarea class="form-control" rows="2" name="text" required="true" placeholder="内容不能为空"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="w-label">字体大小</label>
                <div class=" w-width">
                    <input name="fontSize" type="number" class="form-control" placeholder="名称字体大小" min="12" >
                </div>
            </div>
            <div class="form-group">
                <label class="w-label">字体颜色</label>
                <div class="input-group w-width">
                    <input type="text" name="fontColor" class="form-control color-selected" readonly="true">
                    <span class="input-group-btn">
                        <button class="btn btn-default select-color-btn" type="button" data-toggle="dropdown"><span class='glyphicon glyphicon-search'></span></button>
                        <ul class="dropdown-menu select-color">
                            <li>
                                <div name="color_palette"></div>
                            </li>
                        </ul>
                    </span>
                </div>
            </div>
            <div class='submit-group'>
                <button type="submit" class="btn btn-default">确认</button>
            </div>
        </form>
    </div>
</div>
