/*
    右键菜单栏显示
*/
.qtopo-rightMenu ul.dropdown-menu{
    background: rgba(51, 122, 183, 0.9);
    min-width: 120px;
}
.qtopo-rightMenu .dropdown-menu li{
    font-size: 13px;
    position: relative;
    cursor: pointer;
    height: 20px;
}
.qtopo-rightMenu .dropdown-menu li a{
    color:white;
}
.qtopo-rightMenu .dropdown-menu li:hover>a{
    background: none;
    color:black;
}
.qtopo-rightMenu .dropdown-menu li:hover>.dropdown-menu{
    display: block;
    left:95%;
    top:-7px;
}
/*
    子菜单栏箭头
*/
.qtopo-rightMenu .subMenu:after{
    content: "";
    border: 5px solid transparent;
    border-left-color: white;
    position: absolute;
    top: 5px;
    right: 10px;
}
.qtopo-rightMenu .subMenu:hover:after{
    border-left-color: black;
}