/*
    右键菜单栏显示
*/
.qtopo-rightMenu ul.dropdown-menu{
    background-color: rgba(6,36,62,0.8);
    min-width: 120px;
    border-radius: 0;
    -moz-box-shadow: 2px 2px 2px #000000;
    box-shadow: 2px 2px 2px #000000;
}
.qtopo-rightMenu .dropdown-menu li{
    font-size: 13px;
    position: relative;
    cursor: pointer;
    height: 20px;
}
.qtopo-rightMenu .dropdown-menu>li>a:focus,.qtopo-rightMenu .dropdown-menu>li>a:hover {
    text-decoration: none;
    background-color: rgba(51, 122, 183, 0.8);
    box-shadow: 0 0 10px rgba(51, 122, 183, 0.8);
}
.qtopo-rightMenu .dropdown-menu li a{
    color:white;
}
.qtopo-rightMenu .dropdown-menu li:hover>.dropdown-menu{
    display: block;
    left:95%;
    top:-7px;
}
/*
    子菜单栏箭头
*/
.qtopo-rightMenu .subMenu:after{
    content: "";
    border: 5px solid transparent;
    border-left-color: white;
    position: absolute;
    top: 5px;
    right: 10px;
}